name: Python tests on self-hosted

on: [push]

jobs:
  tests:
    runs-on: self-hosted

        steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pytest
        run: |
          python3 -m pip install --user pytest

      - name: Run tests
        run: python3 -m pytest -v


# trigger self-hosted runner
