name: Python tests on self-hosted

on: [push]

jobs:
  tests:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python and pytest
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip
          pip3 install pytest

      - name: Run tests
        run: pytest -v

# trigger self-hosted runner
